body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.page-banner{
 background-color: var(--dark-espresso);
 width: 100%;
 display: block;
}

h2 {
    color: brown;
    text-align: center;
}
